.body {
    background-color: #fff;
    color: #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    margin-top: 20px;
    padding: 20px 30px;
    position: relative;
}

.cover {
    background-color: #fff;
    color: #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 10px 30px;
    position: relative;
    top: -20px;
    height: 560px;
}

.form {
    float: left;
    width: 60%;
}

.bookCover {
    float: right;
    position: absolute;
    left: 75%;
    bottom: 5%;
    height: 170px;
    width: 120.5px;
}

.published {
    position: absolute;
    top: 18%;
    right: 18%;
}

.description {
    margin-top: 0;
    padding-top: 0;
    text-decoration: none;
}

h2 {
    text-decoration: underline;
}

.truncated {
    overflow: hidden;
    height: 33px;
    width: 70%;
}

.short {
    width: 15%;
}

.main {
    width: 60%;
    height: 45px;
    overflow: hidden;
}

.full {
    width: 60%;
    line-height: 200%;
}

aside img {
    width: 200px;
    height: 300px;
    padding: 20px;
    margin-top: 30px;
    margin-left: 50px;
}

textarea {
    resize: none;
}

aside {
    width: 40%;
    float: right;
}

.delete {
    position: absolute;
    left: 88%;
    top: 3%;
}

.back {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 41%;
}

.errors {
    width: 22%;
    position: absolute;
    top: 15%;
    line-height: 5;
}

.more {
    margin-left: 15px;
}

.fullCover {
    width: 350px;
    height: 500px;
    z-index: 1;
    position: absolute;
    top: 15%;
}

.none {
    margin-top: 0;
    padding: 0;
}